*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    height: 1240px;
}

main{
    text-align: center;
    background-color: whitesmoke;
    border: 5px solid red;
    border-radius: 5px;
    max-width: 1000px;
    height: 1200px;
    margin: auto;
    margin-top: 40px;
}
h1{
    font-size: 35px;
    margin: 50px;
    color: red;
}
h3{
    font-size: 25px;
    color: red;
    margin: 30px;
}
p{
    font-size: 18px;
    color: black;
    margin: 15px;
    font-weight: 500;
}

span{
    border: 3px solid red;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    display: none;
}
label{
    font-size: 20px;
}
button{
    border-radius: 5px;
    font-size: 18px;
    width: 80px;
    height: 40px;
    margin: 20px;
}
#NDC input{
    align-items: center;
    text-align: center;
    width:15px;
    height: 15px;
}
#radiondc{
    margin: auto;
    margin-top: 30px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
